/**
 * Copyright © 2022, What the Weights?!
 * Developer: Prashant Shrestha
 * Date: 2022-08-01
 */

/**
 * Useful imports
 */
@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&display=swap");

/**
 * Fonts
 */
$font_roboto: "Catamaran", sans-serif;
$fontsize_medium: 16px;
$fontsize_large: 24px;

$default_font: $font_roboto;

/**
 * Colors
 */

$color_grayblack: rgb(39, 41, 36);
$color_white: rgb(248, 246, 245);
$color_orange: rgb(213, 124, 66);
$color_grayish: rgb(212, 213, 217);
$color_blue: rgb(73, 97, 239);
$color_darkgrayish: rgb(191, 191, 191);

body {
    // background-color: $color_grayish;
    background: rgb(222, 224, 229);
    background: linear-gradient(
        90deg,
        rgba(222, 224, 229, 1) 0%,
        rgba(209, 211, 218, 1) 100%
    );
    color: $color_grayblack;
    font: $fontsize_medium $default_font;
    letter-spacing: 0.2px;
}

a,
a:visited {
    color: $color_orange;
}

/**
 * Mixins
 */
@mixin breakpoint($class) {
    @if $class == xs {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $class == sm {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $class == md {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $class == lg {
        @media (min-width: 1200px) {
            @content;
        }
    } @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

$test: #7e52aeb3;

@mixin shadow($shades...) {
    box-shadow: $shades;
    -webkit-box-shadow: $shades;
    -moz-box-shadow: $shades;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;

    .section {
        width: 100%;
        padding: 10px;
        position: relative;
        background-color: $color_white;
        border-radius: 5px;
        margin: 0 0 15px 0;
        @include shadow(1px 1px 20px -15px $color_grayblack);

        @include breakpoint(sm) {
            max-width: 767px;
        }

        &:hover {
            @include shadow(5px 5px 20px -15px $color_grayblack);
            cursor: pointer;
        }

        .form {
            display: flex;
            flex-direction: column;

            .row {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-align-content: flex-start;
                -ms-flex-line-pack: start;
                align-content: flex-start;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;

                .label,
                .item {
                    padding: 5px 10px;
                }
                .label {
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 0 1 auto;
                    -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                    width: 130px;
                    font-weight: bold;
                    text-align: right;
                }
                .item {
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 1 1 130px;
                    -ms-flex: 1 1 130px;
                    flex: 1 1 130px;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: center;
                    align-items: center;
                    // justify-content: space-between;

                    input[type="number"] {
                        width: 100%;
                        // height: 25px;
                        font-size: $fontsize_large - 11px;
                        font-weight: bold;
                        padding: 5px 10px;
                    }

                    .item-item {
                        margin: 3px 10px 3px 0;
                    }
                }
            }
        }

        .bar-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 20px -10px 0 -10px;

            .bar {
                height: 20px;
                background-color: $color_darkgrayish;
            }

            .bar:nth-of-type(1) {
                width: 40%;
            }
            .bar:nth-of-type(2n) {
                width: 30px;
                background-color: $color_darkgrayish;
                margin-right: 5px;
            }

            .plate {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                color: $color_white;
                text-align: center;
                font-weight: bold;
            }
        }

        .plate-labels {
            display: flex;
            width: 100%;
            margin: 25px 0 5px 0;
            align-items: center;
            justify-content: center;

            .plate-label {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                color: $color_white;
            }
        }
    }
}


.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 0 15px 0;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .2px;
}

.text-title {
    font-family: $default_font;
    font-size: $fontsize_medium;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.01px;
}

.text-paragraph {
    font-size: $fontsize_medium - 3px;
    font-weight: 500;
    color: $color_darkgrayish;
}
